In [1]:
import pandas as pd
import numpy as np
obj=pd.Series([1,2,3,4,5])  # index it will display
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
obj.values  # element of that obj

array([1, 2, 3, 4, 5])

In [ ]:
obj.index  # range from which it start, stop and step

In [ ]:
s1=pd.Series([1,2,3,-4,5], index=['d','a','c','f','h'])  
s1

In [ ]:
s1.index

In [ ]:
 s1['a']  # corresponding index value

In [ ]:
s1[['d','c','h']] # it treats as indices even they are strings

In [ ]:
s1[s1>0]  # prints values greather than zero

In [ ]:
s1 * 2  # specified operation it perform

In [ ]:
np.exp(s1)

In [ ]:
'a' in s1  # index 'a' exist s1

In [ ]:
'v' in s1 # doesn't exist

In [5]:
sdata={'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
s2=pd.Series(sdata)  # dict passing in Series it display data in tabular form
s2

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [6]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
s3=pd.Series(sdata,index=states)
s3

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [7]:
pd.isnull(s3)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [8]:
pd.notnull(s3)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [ ]:
s2

In [ ]:
s3

In [9]:
s2+s3

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [ ]:
s3.name='population'
s3.index.name='state'  # state column nane labeled
s3

In [ ]:
s

In [ ]:
s.index=['Bob', 'Steve', 'Jeff', 'Ryan','mike']  # Index changed
s

# DataFrame
DF rectangular table of data and contains ab ordered collection of columns .DataFrames has both row and column index.It is treated as dict of Series all sharing same indes.Data is stored as one or more two dimensiona block rather than list, dict.

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [ ]:
frame  #DF displays data in tabular form, keys columns label

In [ ]:
pd.DataFrame(data,columns=['year','state','pop'])# changing the column order

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'], index=['one', 'two', 'three', 'four',
'five', 'six'])

In [ ]:
frame2  # new column added with indecies One to Six

In [ ]:
frame2.columns

In [ ]:
frame2['state'] # displays state columns values

In [ ]:
frame2['year']

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt']=23.5
frame2  # all debt values are assigned 23.5

In [ ]:
frame2['debt']=np.arange(6.)  # number of rows put it in asending order

In [ ]:
frame2

In [ ]:
val=pd.Series([-1.2,-1.6,-1.8],index=['two','four','five'])
frame2['debt']=val# assigning val to debt column for those index
frame2

In [ ]:
frame2['eastern']=frame2.state == 'Ohio'  # for ohio state we are settig eastern True
frame2

In [ ]:
del frame2['eastern']  # delete eastern clomun

In [ ]:
frame2.columns

In [ ]:
frame2

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
 'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3=pd.DataFrame(pop)  #pop dict adding to frame3 dataframe
frame3

In [ ]:
frame3.T  # Intercahnge columns and rows

In [ ]:
pd.DataFrame(pop,index=[2001,2002,2003]) # setting index back

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1], 'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

In [ ]:
frame3.values

In [ ]:
frame2.values

# Index objects

In [ ]:
obj=pd.Series(range(3),index=['a','b','c'])
index=obj.index
index

In [ ]:
index[1:] # from 1, index ob are immutable and can't be modidied by user

In [ ]:
#index[1]='d' # type error we can;'t modify thr index'

In [ ]:
labels=pd.Index(np.arange(3)) # column 0 to 2

In [ ]:
labels

In [ ]:
obj2=pd.Series([1.5,-2.4,0],index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
 obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e']) # reassigned index to obj2
obj2

In [ ]:
 obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(range(6), method='ffill') # 0 to 5

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
frame # reshape the frame 3 cross 3

In [ ]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)  #frame reassigning column

In [ ]:
frame.loc[['a', 'b', 'c', 'd'], states]  
# row b should gets added up

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])

In [ ]:
obj

In [ ]:
new_obj=obj.drop('c') # removed c row

In [ ]:
new_obj

In [ ]:
obj.drop(['d', 'c'])

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Colorado', 'Ohio']) # drop index/row if given in list []

In [ ]:
data

In [ ]:
data.drop('two', axis=1) # axis means

In [ ]:
data.drop(['two', 'four'], axis='columns')

#Be careful with the inplace, as it destroys any data that is dropped.
#Many functions, like drop, which modify the size or shape of a Series or DataFrame, can manipulate an object in-place without returning a new object:

In [ ]:
obj.drop('b', inplace=True)   # as I already destroyed c now its allowing to use c
obj

# Indexing, Selection, and Filtering

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
 obj[['b', 'a', 'd']]

In [ ]:
obj[[1,3]] # display 1,3

In [ ]:
obj[obj < 2]

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c'] = 5

In [ ]:
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two']

In [ ]:
data[['three', 'one']]

In [ ]:
data[:2]  # 0,1

In [ ]:
data[data['three']>5]

In [ ]:
data<5 # 1st 5 elements

In [ ]:
data[data <5] =0  # 1st 5 elements =0
data

# Selection with loc and iloc
For DataFrame label-indexing on the rows, I introduce the special indexing operators loc and iloc. They enable you to select a subset of the rows and columns from a DataFrame with NumPy-like notation using either axis labels (loc) or integers (iloc)

In [ ]:
data.loc['Colorado', ['two', 'three']] # that location element usiong name

In [ ]:
 data.iloc[2, [3, 0, 1]] # using integers

In [ ]:
data.iloc[2]

In [ ]:
data.iloc[[1, 2], [3, 0, 1]]

In [ ]:
data.loc[:'Utah', 'two'] # upto Utah

In [ ]:
data.iloc[:, :3][data.three > 5] # not that clear

In [ ]:
ser = pd.Series(np.arange(3.))

In [ ]:
ser

In [ ]:
 ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])

In [ ]:
ser2[-1]

In [ ]:
ser[:1]

In [ ]:
ser.loc[:1]

In [ ]:
ser.iloc[:1]

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])

In [ ]:
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],
               index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

In [ ]:
s2

In [ ]:
s1+s2  # if only have other doesn;t then NAN

In [ ]:

 df1= pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'), index=['Ohio', 'Texas', 'Colorado'])

In [ ]:
df2= pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1 + df2

In [ ]:
 df1= pd.DataFrame({'A': [1, 2]})

In [ ]:
df2=pd.DataFrame({'B':[3,4]})

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1-df2

In [ ]:
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)), columns=list('abcd'))

In [ ]:
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)), columns=list('abcde'))

In [ ]:
df2.loc[1,'b']=np.nan

In [ ]:
df1

In [ ]:
df2

In [ ]:
df1.add(df2, fill_value=0)

In [ ]:
1/df1

In [ ]:
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

In [ ]:
arr= np.arange(12.).reshape((3, 4))

In [ ]:
arr

In [ ]:
arr[0]

In [ ]:
arr -arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
series=frame.iloc[0]

In [ ]:
frame

In [ ]:
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']

In [ ]:
frame

In [ ]:
series3

In [ ]:
frame.sub(series3, axis='index')

In [ ]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [ ]:
frame

In [ ]:
np.abs(frame)

In [ ]:

f=lambda x:x.max() - x.min()

In [ ]:
frame.apply(f)

In [ ]:
frame.apply(f,axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [ ]:
frame.apply(f)

In [ ]:
format = lambda x: '%.2f' % x

In [ ]:
frame.applymap(format)

In [ ]:

frame['e'].map(format)

# Sorting and Ranking
Sorting a dataset by some criterion is another important built-in operation. To sort lexicographically by row or column index, use the sort_index method, which returns a new, sorted object:

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])

In [ ]:
obj.sort_index()

In [ ]:
frame=pd.DataFrame(np.arange(8).reshape((2, 4)), index=['three', 'one'],
columns=['d', 'a', 'b', 'c'])

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1, ascending=False) # from column 1 decending

In [ ]:
obj = pd.Series([4, 7, -3, 2])

In [ ]:
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])

In [ ]:
obj.sort_values()  # sort basis of values

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})

In [ ]:
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a', 'b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [ ]:
obj.rank() # assign mean to all values

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(ascending=False, method='max')

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
 'c':[-2, 5, 8, -2.5]})

In [ ]:
frame

In [ ]:
frame.rank(axis='columns')

# Axis Indexes with Duplicate Labels

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])

In [ ]:
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])

In [ ]:
df

In [ ]:
df.loc['b']

In [ ]:
df= pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
               index=['a', 'b', 'c', 'd'],
               columns=['one', 'two'])

In [ ]:
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.mean(axis='columns', skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 4)

In [ ]:
obj.describe()

In [ ]:
!pip install pandas-datareader

In [ ]:

import pandas_datareader.data as web
all_data= {ticker: web.get_data_yahoo(ticker)
for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}

In [ ]:
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})

In [ ]:
volume = pd.DataFrame({ticker: data['Volume']  for ticker, data in all_data.items()})

In [ ]:
returns =price.pct_change()

In [ ]:
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])

In [ ]:
 returns['MSFT'].cov(returns['IBM'])

In [ ]:
 returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()

In [ ]:
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)